// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question{
    border-left:  3px solid #dddddd;
    padding: 10px;
    margin: 10px;
    background-color: #ffffff ;
    font-size: 20px;
  
}
.answer{
    border-left:  3px solid #dddddd;
    padding: 10px;
    margin: 10px;
    background-color: #ffffe1;
    font-size: 20px;
}
